.App{
  box-sizing: border-box;
  min-height: 100vh;
}

#dark {
  background-color: black;
}

#dark h1,
h2,
h3,
h4,
h5,
h6,
hr,
li,
ol,
p,
ul,
label{
  color: #f0f0f0;
}

#light h2,
p,
h5,
h3,
h1 {
  color: #000000;
}

code {
  border-radius: 5px;
  background-color: #2d2d2d;
  padding: 3px 4px;
  color: #e0e0e0;
}

pre {
  padding: 5px;
  border-radius: 8px;
  background-color: #2d2d2d;
}

#light li {
  color: #000000;
}

.searchIcon {
  margin-bottom: 16px;
}

#dark .searchIcon {
  color: #e0e0e0;
}
.searchIcon:hover {
  background-color: #e0e0e021;
  border-radius: 8px;
}

#dark .buttons{
  background-color: #BB86FC;
}

#dark .buttonsOutline{
  border-color: #BB86FC;
  color:#BB86FC;
}

#dark #description-label{
  color: #ECECEC;
}

#dark textarea{
  color: #ECECEC;
}

#dark label{
  color: #ECECEC;
}

#dark input{
  color: #ECECEC;
  background-color: #262626;
}