.authentication {
    width: 100%;
    max-width: 25rem;
    text-align: center;
    align-items: center;
  }
  .authentication form {
    margin-bottom: 1rem;
  }

#dark .signUp{
  color: #BB86FC;
  border-color: #BB86FC;
}

#dark .buttons:hover {
  background-color: #a274db;
}

#dark .signUp:hover {
  color: #a274db;
  border-color: #a274db;
}
