a {
  text-decoration: none;
}

.toggleLabel {
  margin: 4px;
  margin-bottom: 8px;
  font-size: smaller;
}

.toggle {
  margin-top: 10px;
  margin-bottom: -1px;
  margin-right: 8px;
  color: white;
}

.MuiMenu-paper a {
  display: block;
}
